doctype html
html lang=I18n.locale
  head
    meta charset=Rails.application.config.encoding

    // Compatibility with mobile screens
    meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"
    / also @-ms-viewport rule in basis.css file.
    // Place Internet Explorer into the highest supported document mode
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    /[if (lt IE 9) & (!IEMobile)]
      script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
    - if @is_devise==false
      title = seo.title
      - if seo.description
        meta name="description" content=seo.description
      - if seo.keywords
        meta name="keywords" content=seo.keywords

      // Twitter Card (https://dev.twitter.com/cards)
      meta name="twitter:card" content="summary"
      / meta name="twitter:site" content="@mayak"
      / meta name="twitter:creator" content="@dymio"
      // Title, description and image Twitter will get from Open Graph tags.
      // Open Graph protocol (http://ogp.me/) with https://developers.facebook.com/docs/sharing/webmasters
      meta property="og:type" content="website"
      meta property="og:title" content=seo.title
      meta property="og:url" content=request.original_url
      meta property="og:image" content=(seo.image || asset_url('ico/mayak_310.png'))
      - if seo.description
        meta property="og:description" content=seo.description
      meta property="og:site_name" content=setting_value(:site_name)
      / meta property="fb:app_id" content="00000000000"
      // Favicons and touch icons
      = favicon_link_tag '/favicon.ico', rel: 'icon', sizes: '16x16 32x32 48x48 64x64'
      /[if IE]
        = favicon_link_tag '/favicon.ico'
      // Apple Touch Icons https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html
      link rel="apple-touch-icon" href=asset_path('ico/mayak_180.png')

      // Windows pinned sites icon https://msdn.microsoft.com/en-us/library/hh772707.aspx
      meta name="msapplication-TileColor" content="#ffffff"
      meta name="msapplication-TileImage" content=asset_path('ico/mayak_144.png')

      // RSS
      / =# auto_discovery_link_tag(:rss, "http://feeds.feedburner.com/mayak", \
      /                                  { title: setting_value(:site_name) })
      link rel="author" type="text/plain" href=asset_path('humans.txt')

      = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = csrf_meta_tags
    // Will be better to move javascript_include_tag to the end of body tag
    //  if you don't plan to use turbolinks
      body
        // Flash notices
        / - if flash[:notice]
        /   p.notice = flash[:notice]
        / - if flash[:alert]
        /   p.alert = flash[:alert]
        #wrap
          header#header
            .holder
              = setting_value(:site_name)
              nav
                - @nav_items.each do |ni|
                  = link_to ni.title, ni.url, \
                            :class => class_string(active: (ni == @active_nav_item))

          = yield
    - if user_signed_in?
      span
        | Здравствуйте, #{current_user.email}
      = link_to 'Выйти', destroy_user_session_path, :method => :delete
    - else
      = link_to 'Войти', new_user_session_path
      | или #{link_to 'Зарегистрироваться', new_user_registration_path}
    footer#footer
      .holder

